<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<section class="bg-light py-5   d-flex align-items-center" style="min-height: calc(100vh - 150px);" th:fragment="about">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder mb-5">
                        <span class="text-gradient d-inline">Über mich – Diouani</span>
                    </h2>
                    <p class="lead fw-light mb-4">
                        Mein Name ist Elmokhtar Diouani, und ich bin ein Full-Stack-Webentwickler mit Leidenschaft
                        für moderne Technologien.
                    </p>
                    <p class="text-muted">
                        Ich habe mehrere Zertifikate in Git, GitHub, JavaScript, HTML, CSS, dem Bootstrap-Framework,
                        Node.js, NPM, HTTP-Requests, React, REST APIs, Express, MongoDB, Sicherheit,
                        Authentifizierung, Soft Skills, Java und dem Spring Framework erworben.<br><br>
                        Ich spezialisiere mich auf die Entwicklung moderner, responsiver Websites und Webanwendungen
                        unter Verwendung aktueller Technologien wie SASS, Bootstrap, React, Java und Spring. Mein
                        Fokus liegt auf Best Practices sowie sauberem, wartbarem Code.<br><br>
                        Ich lerne kontinuierlich weiter und halte mich über die neuesten Trends in der
                        Webentwicklung auf dem Laufenden. Wenn Sie einen engagierten und erfahrenen Webentwickler
                        suchen, der Ihr Projekt professionell umsetzt – ich freue mich darauf, mit Ihnen
                        zusammenzuarbeiten.
                    </p>
                    <div class="d-flex justify-content-evenly fs-2 gap-4 mt-5">
                        <a class="text-gradient" href="https://x.com/" target="_blank"><i class="bi bi-twitter"></i></a>
                        <a class="text-gradient" href="https://www.linkedin.com/in/el-mokhtar-diouani-10a009124/"
                           target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a class="text-gradient" href="https://github.com/Diouani1" target="_blank"><i
                                class="bi bi-github"></i></a>
                        <a class="text-gradient" href="https://www.instagram.com/ " target="_blank"><i
                                class="bi bi-instagram"></i></a>
                        <a class="text-gradient" href="https://www.xing.com/profile/ElMokhtar_Diouani"
                           target="_blank"><i class="fab fa-xing"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>

</html>
