<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<footer class="bg-white py-4 mt-auto" th:fragment="footer">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0">&copy; Diouani El Mokhtar 2025</div>
            </div>
            <div class="col-auto d-flex gap-4">
                <a class="icon-link" href="https://github.com/Diouani1" target="_blank" style="color: black; text-decoration: none;">
                    <i class="bi bi-github"></i>
                    <span>GitHub</span>
                </a>
                <a class="icon-link" href="https://www.linkedin.com/in/el-mokhtar-diouani-10a009124/" target="_blank" style="color: #0A66C2; text-decoration: none;">
                    <i class="bi bi-linkedin"></i>
                    <span>LinkedIn</span>
                </a>
                <a class="icon-link" th:href="@{/contact}" style="color: #d93025; text-decoration: none;">
                    <i class="bi bi-envelope-fill"></i>
                    <span>Email</span>
                </a>
            </div>
        </div>
    </div>
</footer>


</body>
</html>