<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>

<div th:fragment="projects">
    <section class="py-5 bg-light">
        <div class="container px-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projekte</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <!-- Project Card 1-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5 text-center">
                                    <h2 class="fw-bolder" style="color: #61dafb;">Reactfolio</h2>
                                    <p>
                                        Dieses Projekt ist ein ReactJS-basiertes Portfolio, das moderne
                                        Webentwicklungstechniken nutzt.
                                        Es zeigt Fähigkeiten in Komponentenstruktur, Zustandshandling und responsivem
                                        Design.
                                    </p>
                                    <div class="mt-3 d-flex flex-column align-items-center gap-3">
                                        <a href="https://www.diouani-mokhtar.de/" class="btn btn-primary"
                                           target="_blank">Benutzeroberfläche anzeigen</a>
                                        <a href="https://github.com/Diouani1/my-portofolio"
                                           class="btn btn-outline-secondary" target="_blank">Quellcode ansehen</a>
                                    </div>
                                </div>

                                <img class="img-fluid" style="width:300px;height:400px"
                                     src="assets/images/reactfoto.png" alt="..."/>
                            </div>
                        </div>
                    </div>
                    <!-- Project Card 2-->
                    <div class="card overflow-hidden shadow rounded-4 border-0">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5 text-center">
                                    <h2 class="fw-bolder" style="color: #f89820;">Javafolio</h2>
                                    <p>
                                        Dieses Projekt ist ein Java-basiertes Portfolio, das moderne
                                        Softwareentwicklungstechniken nutzt.
                                        Es zeigt Fähigkeiten in Objektorientierung, Multithreading und GUI-Design.
                                    </p>
                                    <div class="mt-3 d-flex flex-column align-items-center gap-3">
                                        <a href="#" class="btn btn-primary" target="_blank">Benutzeroberfläche
                                            anzeigen</a>
                                        <a href="#" class="btn btn-outline-secondary" target="_blank">Quellcode
                                            ansehen</a>
                                    </div>
                                </div>

                                <img class="img-fluid" style="width:300px;height:400px" src="assets/images/javafoto.png"
                                     alt="..."/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 bg-gradient-primary-to-secondary text-white">
        <div class="container px-5 my-5">
            <div class="text-center">
                <h2 class="display-4 fw-bolder mb-4">Gemeinsam schaffen wir etwas Großartiges</h2>
                <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" th:href="@{/contact}">Kontaktieren Sie
                    mich</a>
            </div>
        </div>
    </section>
</div>

</body>
</html>
